.wrap{width: 100%;}

.wrap.sub{
  .main{
    padding-top: 100px;
  }
}
.inner {
  width: 1180px;
  margin: 0 auto;
}

header{
  @include setCont(100%, 100px, flex, fixed);
  @include NotoBold;
  border-bottom: 1px solid hsla(0,0%,100%,.2);
  z-index: 100;
  .inner{
    @include setCont(1180px, 100%, flex);
    margin: 0 auto;
    justify-content: space-between;
    .left, .right{
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  .left{
    .logo{
      @include setCont(225px, 26px, block);
      @include bgSvg(logo("ffffff"), no-repeat, 0 50%, 100%);
      margin-right: 100px;
      text-indent: -9999px;
    }
    .menu{
      position: relative;
      color: #ffffff;
      &::before{
        @include setCont(0px, 4px, block, absolute);
        background-color: #222;
        top: 37px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transform:  all .4s;
      }
      &:hover{
        &::before{
          width: 80px;
          opacity: 1;
        }
      }
    }
    .menu.on{
      &::before{
        @include setCont(80px, 4px, block, absolute);
        background-color: #222;
        top: 37px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
      }
    }
  }
  .right{
    justify-content: right;
    .search{
      @include setCont(20px, 23px);
      @include bgSvg(search("ffffff"), no-repeat, 0 50%, 100%);
      margin-right: 30px;
    }
    .l_icon{
      @include setCont(20px, 20px);
      @include bgSvg(licon("ffffff"), no-repeat, 0 50%, 100%);
    }
    .r_icon{
      @include setCont(8px, 4px);
      @include bgSvg(ricon("ffffff"), no-repeat, 0 50%, 100%);
    }
    .hr_tit{
      position: relative;
      font-size: 16px;
      padding: 0 10px 0 10px;
      color: $white;
    }
    ul{
      @include setCont(55px, 62px, block, absolute);
      visibility:hidden;
      top: 68px;
      background-color: $point1;
      padding: 10px 0;
      li{
        width: 100%;
        text-align: center;
        line-height: 20px;
        button{
          color: $white;
          cursor: pointer;
          font-size: 16px;
        }
      }
    }
  }
  .gnb{
    display: flex;
    .menu{
      margin: 0 35px;
      font-size: 20px;
      font-weight: 500;
      display: block;
    }
  }
}

.wrap.sub{
  header{
    background-color: $white;
    .left{
      .logo{
        @include bgSvg(logo("016A6E"), no-repeat, 0 50%, 100%);
      }
      .menu{
        color: #222222;
      }
    }
    .right{
      .search{
        @include bgSvg(search("222222"), no-repeat, 0 50%, 100%);
      }
      .l_icon{
        @include bgSvg(licon("222222"), no-repeat, 0 50%, 100%);
      }
      .r_icon{
        @include bgSvg(ricon("222222"), no-repeat, 0 50%, 100%);
      }
      .hr_tit{
        color: #222;
      }
    }
  }
}

footer{
  @include setCont(100%, 230px);
  background-color: #202020;
  .inner{
    @include setCont(1180px, 100%, flex, relative);
    justify-content: space-between;
    margin: 0 auto;
    padding:  17px 0 42px 0;
    .f_left{
      .logo{
        @include setCont(225px, 26px, block);
        @include bgSvg(logo("ffffff"), no-repeat, 0 50%, 100%);
        text-indent: -9999px;
        margin-top: 8px;
      }
    }
    .f_right{
      width: 885px;
      .top{
        @include setCont(100%, 62px, flex, relative);
        justify-content: space-between;
        border-bottom: 1px solid #707070;
        .top_l{
          a{
            display: inline-block;
            line-height: 45px;
            height: 45px;
            color: $white;
            font-size: 14px;
          }
          a:first-child{
            margin-right: 45px;
          }
        }
        .top_r{
          @include setCont(380px, 45px, block, relative);
          border: 1px solid #444444;
          color: $white;
          .top_tit{
            @include setCont(100%, 100%, flex, relative);
            padding: 0 20px;
            align-items: center;
            font-size: 16px;
            @include NotoBold;
            &::before {
              content: "";
              @include setCont(10px, 5px, inline, absolute);
              @include bgSvg(f_arrow("ffffff"), no-repeat, 0 0, 100%);
              right: 20px;
            }
          }
          ul{
            @include setCont(380px, auto, block, absolute);
            bottom: 43px;
            background-color: #202020;
            border: 1px solid #444444;
            padding: 19px;
            color: #D8D8D8;
            visibility: hidden;
            li{
              font-size: 16px;
              line-height: 35px;
              @include NotoRegular;
            }
            hr{
              border-bottom: 1px solid #707070;
            }
            li:nth-child(2){
              margin-bottom: 20px;
            }
            li:nth-child(4){
              margin-top: 20px;
            }
          }
        }
      }
      .biz{
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        color: #B8B8B8;
        @include NotoRegular;
        .biz_l{
          font-size: 14px;
          span{
            display: block;
          }
          span:nth-child(2){
            margin-bottom: 26px;
          }
        }
        .biz_r{
          width: 380px;
          text-align: right;
          font-size: 18px;
          color: #666666;
          strong{
            margin-left: 17px;
            color: #B8B8B8;
          }
          span:nth-child(2){
            margin-left: 20px;
          }
        }
      }
    }
  }
}