@font-face {
  src: url("/font/NotoSansKR-Bold.woff");
  font-family: "NotoSansKR-Bold";
}

@font-face {
  src: url("/font/NotoSansKR-Regular.woff");
  font-family: "NotoSansKR-Regular";
}

@font-face {
  src: url("/font/Montserrat-Bold.woff");
  font-family: "Montserrat-Bold";
}

@font-face {
  src: url("/font/Pretendard-Regular.woff");
  font-family: "Pretendard-Regular";
}

.wrap{width: 100%;}

header{
  @include setCont(100%, 100px, flex, fixed);
  @include NotoBold;
  border-bottom: 1px solid hsla(0,0%,100%,.2);
  z-index: 100;
  .inner{
    @include setCont(1180px, 100%, flex);
    margin: 0 auto;
    justify-content: space-between;
    .left, .right{
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  .left{
    .logo{
      @include setCont(225px, 26px, block);
      @include bgSvg(logo("ffffff"), no-repeat, 0 50%, 100%);
      margin-right: 100px;
      text-indent: -9999px;
    }
    .gnb a{
      color: #ffffff;
    }
  }
  .right{
    justify-content: right;
    .search{
      @include setCont(20px, 23px);
      @include bgSvg(search("ffffff"), no-repeat, 0 50%, 100%);
      margin-right: 30px;
    }
    .l_icon{
      @include setCont(20px, 20px);
      @include bgSvg(licon("ffffff"), no-repeat, 0 50%, 100%);
    }
    .r_icon{
      @include setCont(8px, 4px);
      @include bgSvg(ricon("ffffff"), no-repeat, 0 50%, 100%);
    }
    .hr_tit{
      position: relative;
      font-size: 16px;
      padding: 0 10px 0 10px;
      color: $white;
    }
    ul{
      @include setCont(55px, 62px, block, absolute);
      visibility:hidden;
      top: 68px;
      background-color: $point1;
      padding: 10px 0;
      li{
        width: 100%;
        text-align: center;
        line-height: 20px;
        button{
          color: $white;
          cursor: pointer;
          font-size: 16px;
        }
      }
    }
  }
  .gnb{
    display: flex;
    a{
      margin: 0 35px;
      font-size: 20px;
      font-weight: 500;
      display: block;
    }
  }
}

.slideshow-container{
  @include setCont(100%, 100%, block);
  .p_btn{
    content: "";
    @include setCont(69px, 69px, block, absolute);
    border: 2px solid #fff;
    border-radius: 69px;
    text-indent: -9999px;
    top: 50%;
    left: 50%;
    z-index: 500;
  }
  .pagination{
    @include setCont(auto, 21px, flex, absolute);
    left: 50%;
    top: 50%;
    transform: translate(-590px, 180px);
    z-index: 100;
    a{
      @include setCont(7px, 7px, block, relative);
      background-color: $white;
      border-radius: 50%;
      margin-right: 20px;
      align-self: center;
    }
    a.focus{
      @include setCont(21px, 21px, block, relative);
      @include bgSvg(pagination("ffffff"), no-repeat, 0 0, 100%);
    }
  }
  .prev{
    opacity: .4;
    transform: translate(431px,-50%);
    @include bgSvg(prev("ffffff"), no-repeat, 50% 50%);
    &:hover{
      border: 1px solid $hover;
      @include bgSvg(prev("3cc1c6"), no-repeat, 20% 50%);
      transition: all .2s;
    }
  }
  .next{
    transform:translate(521px,-50%);
    @include bgSvg(next("ffffff"), no-repeat, 50% 50%);
    &:hover{
      border: 1px solid $hover;
      @include bgSvg(next("3cc1c6"), no-repeat, 80% 50%);
      transition: all .2s;
    }
  }
}

.slideshow-wrapper{
  @include setCont(100%, 100vh, flex, relative);
  .slide{
    @include setCont(100%, 100%, flex, absolute);
    color: $white;
    &::before{
      content:"";
      @include setCont(100%, calc(100% - 100px), block, absolute);
      max-width: 1480px;
      background-image: url(/img/bg_line.png);
      background-repeat: repeat-y;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
    .content{
      @include setCont(1180px, auto);
      @include fontMont;
      margin: 0 auto;
      justify-content: center;
      align-self: center;
      margin-top: -50px;
      h3{
        font-size: 25px;
      }
      h2{
        font-size: 80px;
        font-weight: 800;
        div:first-child{
          text-indent: -5%;
        }
      }
      .s_text{
        line-height: 22px;
        @include PreRegular;
        opacity: 0.8;
      }
      .btns{
        @include setCont(178px, 57px, inline-block, relative);
        @include NotoBold;
        line-height: 57px;
        font-size: 16px;
        margin-top: 40px;
        z-index: 100;
        a{
          @include setCont(178px, 57px, inline-block, relative);        
          min-width: 178px;
          padding: 0 66px 0 0px;
          border-top: 1px solid #9b9b9b;
          border-bottom: 1px solid #9b9b9b;
          color: $white;
          text-align: left;
          &:before{
            @include setCont(26px, 6px, inline, absolute);
            @include bgSvg(next("707070"), no-repeat, 0 0, 100%);
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            transition: all .2s;
          }
          &:hover{
            &:before{
              right: 15px;
            }
            border-top: 1px solid $hover;
            border-bottom: 1px solid $hover;
            color: $hover;
          }
        }
      }
    }
  }
  .s1{
    background-image: url("/img/main.png");
    background-size: auto 130%;
    z-index: 30;
  }
  .s2{
    background-image: url("/img/main.png");
    background-size: auto 130%;
    z-index: 20;
  }
  .s3{
    background-image: url("/img/main.png");
    background-size: auto 130%;
    z-index: 10;
  }
}

.area1{
  display: flex;
  height: 830px;
  background-image: url(/img/main2.png);
  background-size: 100%;
  background-attachment: fixed;
  .inner{
    width: 100%;
    padding: 75px 150px;
    align-items: center;
    .m_info{
      color: $white;
      text-align: center;
      @include fontMontBold;
      h2{
        font-size: 40px;
        @include fontMontBold;
        margin-bottom: 10px;
      }
      p{
        font-size: 25px;
      }
      .btns{
        margin-top: 36px;
        margin-bottom: 80px;
      }
    }
    .btns{
      @include setCont(auto, 57px, inline-block, relative);
      line-height: 57px;
      font-size: 16px;
      @include fontMontBold;
      a{
        @include setCont(178px, null, inline-block, relative);        
        min-width: 178px;
        padding: 0 66px 0 25px;
        border: 1px solid #9b9b9b;
        color: $white;
        &:before{
          @include setCont(26px, 6px, inline, absolute);
          @include bgSvg(next("707070"), no-repeat, 0 0, 100%);
          right: 25px;
          top: 50%;
          transform: translateY(-50%);
          transition: all .2s;
        }
        &:hover{
          &:before{
            right: 15px;
            color: $hover;
          }
          border: 1px solid $hover;
          color: $hover;
        }
      }
    }
  }
  .a_service{
    display: flex;
    width: 1180px;
    justify-content: space-between;
    text-align: left;
    color: $white;
    margin: 0 auto;
    .box{
      @include setCont(580px, 350px);
      .box_inner{
        padding: 45px;
        height: 100%;
        .Techinfo_logo h3{
          @include setCont(150px, 34px);
          margin-bottom: 30px;
          text-indent: -9999px;
          background-image: url(/img/main2_l_1.png);
        }
        .text {
          span{
            @include fontMontBold;
            font-size: 15px;
            line-height: 25px;
          }
          h3, p{
            @include fontMontBold;
            font-size: 30px;
            margin-bottom: 27px;
          }
          p{font-size: 18px;}
        }
      }
    }
    .techinfo{
      background-image: url(/img/main2_l.png);
      background-size: cover;
    }
    .u_trading{
      background-image: url(/img/main2_r.png);
      background-size: cover;
    }
  }
}

.area2{
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg,#f3f3f3,#f3f3f3 50%,#fff 0,#fff);
    .inner{
      @include setCont(1180px, 695px, flex);
      article{
        width: 50%;
        padding: 80px 0 84px;
          h2{
            @include fontMontBold;
            font-size: 35px;
            text-align: center;
            margin-bottom: 40px;
          }
      }
      .notice{
        padding-right: 30px;
        li{
          @include setCont(100%, 104px);
          margin-bottom: 11px;
          background-color: #fff;
            a{
              @include setCont(100%, 100%, flex, relative);
              padding: 31px 25px;
              align-items: center;
              &:before {
                @include setCont(19px, 15px, block, absolute);
                @include bgSvg(arrow("707070"), no-repeat, 50% 50%);
                top: 50%;
                right: 36px;
                transform: translateY(-50%);
                transition: all 200ms;
              }
              &:hover {
                &:before {
                  right: 26px;
                }
              }
              .date{
                font-size: 19px;
                @include fontMontBold;
                color: #00A59A;
                text-align: center;
                display: block;
                margin-right: 20px;
                .day{
                  font-size: 42px;
                }
              }
              p{
                @include NotoBold;
                color: #333333;
                font-size: 22px;
              }
            }
        }
      }
      .contact{
        padding-left: 30px;
        .box2{
          @include NotoBold;
          display: flex;
          text-align: center;
          justify-content: space-between;
          color: $hover;
          font-size: 16px;
          .box{
            @include setCont(calc(50% - 10px), 450px, flex, relative);
            .box_inner{
                width: 100%;
              h2{
                width: 100%;
                top: 50%;
                left: 50%;
                position: absolute;
                color: #fff;
                transform: translate(-50%,-50%);
                transition: all 0.2s;
                font-size: 30px;
                font-weight: 800;
                margin-bottom: 25px;
              }
              .t1{
                display: none;
                position: relative;
                top: 160px;
              }
            }
            &:hover{
              .box_inner{
                h2{
                  top: 120px;
                  color: $hover;
                }
                .t1{
                  display: block;
                  p{
                    line-height: 20px;
                    margin-bottom: 15px;
                    span{
                      @include NotoRegular;
                    }
                  }
                }
                a{
                  @include setCont(110px, auto, inline-block);
                  color: $hover;
                  border: 1px solid #3cc1c6;
                  text-align: center;
                  font-size: 16px;
                  padding: 6px 0;
                  margin-bottom: 30px;
                }
              }
            }
          }
          .box:first-child{
            background-image: url(/img/main3_1.png);
            background-size: cover;
            &:hover{
              background-size: 130%;
            }
          }
          .box:last-child{
            background-image: url(/img/main3_2.png);
            background-size: cover;
            &:hover{
              background-size: 130%;
              .t1{
                top: 180px;
                p{
                  margin-bottom: 40px;
                  @include NotoRegular;
                }
              }
            }
          }
        }
      }
    }
}

footer{
  @include setCont(100%, 230px);
  background-color: #202020;
  .inner{
    @include setCont(1180px, 100%, flex, relative);
    justify-content: space-between;
    margin: 0 auto;
    padding:  17px 0 42px 0;
    .f_left{
      .logo{
        @include setCont(225px, 26px, block);
        @include bgSvg(logo("ffffff"), no-repeat, 0 50%, 100%);
        text-indent: -9999px;
        margin-top: 8px;
      }
    }
    .f_right{
      width: 885px;
      .top{
        @include setCont(100%, 62px, flex, relative);
        justify-content: space-between;
        border-bottom: 1px solid #707070;
        .top_l{
          a{
            display: inline-block;
            line-height: 45px;
            height: 45px;
            color: $white;
            font-size: 14px;
          }
          a:first-child{
            margin-right: 45px;
          }
        }
        .top_r{
          @include setCont(380px, 45px, block, relative);
          border: 1px solid #444444;
          color: $white;
          .top_tit{
            @include setCont(100%, 100%, flex, relative);
            padding: 0 20px;
            align-items: center;
            font-size: 16px;
            @include NotoBold;
            &::before {
              content: "";
              @include setCont(10px, 5px, inline, absolute);
              @include bgSvg(f_arrow("ffffff"), no-repeat, 0 0, 100%);
              right: 20px;
            }
          }
          ul{
            @include setCont(380px, auto, block, absolute);
            bottom: 43px;
            background-color: #202020;
            border: 1px solid #444444;
            padding: 19px;
            color: #D8D8D8;
            visibility: hidden;
            li{
              font-size: 16px;
              line-height: 35px;
              @include NotoRegular;
            }
            hr{
              border-bottom: 1px solid #707070;
            }
            li:nth-child(2){
              margin-bottom: 20px;
            }
            li:nth-child(4){
              margin-top: 20px;
            }
          }
        }
      }
      .biz{
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        color: #B8B8B8;
        @include NotoRegular;
        .biz_l{
          font-size: 14px;
          span{
            display: block;
          }
          span:nth-child(2){
            margin-bottom: 26px;
          }
        }
        .biz_r{
          width: 380px;
          text-align: right;
          font-size: 18px;
          color: #666666;
          strong{
            margin-left: 17px;
            color: #B8B8B8;
          }
          span:nth-child(2){
            margin-left: 20px;
          }
        }
      }
    }
  }
}

@include tablet {
  header{
    height: 60px;
    border-bottom: none;
    .inner{
      padding: 0 20px;
      .right{
        .l_icon{
          margin-right: 30px;
        }
        .r_icon{
          @include setCont(20px, 20px);
          @include bgSvg(menu("ffffff"), no-repeat, 50% 50%, 100%);
        }
      }
    }
    .gnb, .hr_tit{
      display: none;
    }
  }
  .slideshow-container{
    .prev, .next{
      display: none;
    }
    .slideshow-wrapper{
      .slide{
        &::before{
          display: none;
        }
        .content{
          padding: 0 44px;
          margin-top: 0;
          h2{
            font-size: 76px;
            margin-bottom: 20px;
            div:first-child{
              text-indent: 0;
            }
          }
          h3{
            font-size: 20px;
          }
          .s_text{
            line-height: 24px;
          } 
        }
      }
    }
    .pagination{
      transform: translate(0px, 220px);
      left: 40px;
    }
  }
  .area1{
    height: 625px;
    .inner{
      padding: 59px 24px 80px;
      .m_info{
        h2{
          font-size: 30px;
        }
        p{
          font-size: 16px;
        }
        .btns{
          margin-top: 25px;
          margin-bottom: 80px;
        }
      }
      .a_service{
        width: 720px;
        .box{
          @include setCont(360px, 217px);
          .box_inner{
            padding: 30px 26px;
            .Techinfo_logo h3{
              @include setCont(119px, 26px);
              background-size: cover;
              margin-bottom: 19px;
            }
            .text {
              span{
                font-size: 11px;
                line-height: 20px;
              }
              h3, p{
                font-size: 20px;
                margin-bottom: 8px;
              }
              p{font-size: 13px;}
            }
            .btns{
              width: 114px;
              font-size: 12px;
              a{
                width: 114px;
                min-width: 114px;
                height: 35px;
                line-height: 35px;
                padding: 0 10px;
                &:before{
                  @include setCont(20px, 6px, inline, absolute);
                  @include bgSvg(next("707070"), no-repeat, 0 0, 100%);
                  right: 15px;
                  top: 50%;
                }
                &:hover{
                  &:before{
                    right: 5px;
                    color: $hover;
                  }
                  border: 1px solid $hover;
                  color: $hover;
                }
              }
            }
          }
        }
      }
    }
  }
  .area2{
      background: none;
      .inner{
        @include setCont(100%, 100%, block);
        article{
          width: 100%;
          padding: 24px 80px;
            h2{
              font-size: 30px;
              margin-bottom: 30px;
            }
        }
        .notice{
          @include setCont(100%, auto, block);
          padding: 80px 24px;
          background-color: #F3F3F3;
          li{
            @include setCont(100%, 64px);
            margin-bottom: 5px;
            background-color: #fff;
              a{
                @include setCont(100%, 100%, flex, relative);
                padding: 20px;
                .date{
                  font-size: 20px;
                  .day{display: none;}
                }
                p{
                  font-size: 15px;
                }
              }
          }
        }
        .contact{
          @include setCont(100%, auto, block);
          padding: 104px 80px 101px 80px;
          h2{
            font-size: 30px;
            margin-bottom: 30px;
          }
          .box2{
            width: 560px;
            margin: 0 auto;
            color: $white;
            .box{
              @include setCont(270px, 396px, flex, relative);
              &:before{
                content: "";
                @include setCont(100%, 100%, block, absolute);
                background-color: #000;
                opacity: 0.5;
                z-index: 100;
              }
              .box_inner{
                z-index: 200;
                h2{
                  top: 70px;
                  color: $white;
                }
                .t1{
                  top: 130px;
                  display: block;
                  p{
                    line-height: 20px;
                    margin-bottom: 15px;
                    span{
                      @include NotoRegular;
                    }
                  }
                }
                a{
                  @include setCont(110px, auto, inline-block);
                  color: $white;
                  border: 1px solid #ffffff;
                  text-align: center;
                  font-size: 16px;
                  padding: 6px 0;
                  margin-bottom: 30px;
                }
              }
              &:hover{
                .box_inner{
                  h2{
                    color: $white;
                    top: 70px;
                  }
                  a{
                    color: $white;
                    border: 1px solid #ffffff;
                    &:hover{
                      color: $hover;
                      border: 1px solid $hover;
                    }
                  }
                }
              }
            }
            .box:first-child{
              &:hover{
                background-size: cover;
              }
            }
            .box:last-child{
              .t1{
                top: 150px;
                p{
                  margin-bottom: 40px;
                  @include NotoRegular;
                }
              }
              &:hover{
                background-size: cover;
                .t1{
                  top: 150px;
                }
              }
            }
          }
        }
      }
    }
  footer{
    @include setCont(100%, 195px);
    .inner{
      width: 720px;
      padding: 0;
      .f_left{
        display: none;
      }
      .f_right{
        padding: 15px 0;
        .top{
          @include setCont(100%, 35px, flex, relative);
          margin-bottom: 15px;
          border: none;
          .top_r{
            @include setCont(360px, 35px, block, relative);
            .top_tit{
              font-size: 13px;
            }
            ul{
              @include setCont(360px, auto, block, absolute);
              bottom: 34px;
              z-index: 200;
              li{
                font-size: 13px;
                line-height: 23px;
              }
              li:nth-child(2){
                margin-bottom: 10px;
              }
              li:nth-child(4){
                margin-top: 10px;
              }
            }
          }
        }
        .biz{
          padding: 28px 0 0 0;
          border-top: 1px solid #707070;
          .biz_l{
            font-size: 13px;
            span{
              display: block;
            }
            span:nth-child(2){
              margin-bottom: 15px;
            }
          }
          .biz_r{
            @include setCont(auto, auto, flex, relative);
            justify-content: end;
            span{
              content: "";
              @include setCont(25px, 25px, block);
              right: 0;
              overflow: hidden;
              font-size: 0;
              text-indent: -2000em;
            }
            span:first-child{
              &:before{
                @include setCont(20px, 20px, block, absolute);
                @include bgSvg(phone("707070"), no-repeat, 50% 50%);
              }
            }
            span:nth-child(2){
              margin-left: 20px;
              &:before{
                @include setCont(20px, 20px, block, absolute);
                @include bgSvg(message("707070"), no-repeat, 50% 50%);
              }
            }
          }
        }
      }
    }
  }
}