@font-face {
  src: url("/font/NotoSansKR-Bold.woff");
  font-family: "NotoSansKR-Bold";
}

@font-face {
  src: url("/font/NotoSansKR-Regular.woff");
  font-family: "NotoSansKR-Regular";
}

@font-face {
  src: url("/font/Montserrat-Bold.woff");
  font-family: "Montserrat-Bold";
}

@font-face {
  src: url("/font/Pretendard-Regular.woff");
  font-family: "Pretendard-Regular";
}

html, body, div, span, h1, h2, h3{
  margin: 0;
  padding: 0;
  border: 0;
}
ul{list-style: none;padding: 0;}
a {text-decoration: none; outline: none}
button{background: none; border:none; outline: none; margin: 0; padding: 0;}


.wrap{width: 100%;}

header{
  @include setCont(100%, 100px, flex, fixed);
  @include NotoBold;
  border-bottom: 1px solid hsla(0,0%,100%,.2);
  z-index: 100;
  .inner{
    @include setCont(1180px, 100%, flex);
    margin: 0 auto;
    justify-content: space-between;
    .left, .right{
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  .left{
    .logo{
      @include setCont(225px, 26px, block);
      @include bgSvg(logo("ffffff"), no-repeat, 0 50%, 100%);
      margin-right: 100px;
      text-indent: -9999px;
    }
    .gnb a{
      color: #ffffff;
    }
  }
  .right{
    justify-content: right;
    .l_icon{
      width: 20px;
      height: 20px;
      @include bgSvg(licon("ffffff"), no-repeat, 0 50%, 100%);
    }
    .r_icon{
      @include setCont(8px, 4px);
      @include bgSvg(ricon("ffffff"), no-repeat, 0 50%, 100%);
    }
    .hr_tit{
      position: relative;
      font-size: 16px;
      padding: 0 10px 0 10px;
      color: $white;
    }
    ul{
      @include setCont(55px, 62px, block, absolute);
      top: 68px;
      background-color: $point1;
      padding: 10px 0;
      li{
        width: 100%;
        text-align: center;
        line-height: 20px;
        button{
          color: $white;
          cursor: pointer;
          font-size: 16px;
        }
      }
    }
  }
  .gnb{
    display: flex;
    a{
      margin: 0 35px;
      font-size: 20px;
      font-weight: 500;
      display: block;
    }
  }
}

.slideshow-container{
  @include setCont(100%, 100%, block);
  .p_btn{
    content: "";
    @include setCont(69px, 69px, block, absolute);
    border: 2px solid #fff;
    border-radius: 69px;
    text-indent: -9999px;
    top: 50%;
    left: 50%;
    z-index: 500;
  }
  .prev{
    opacity: .4;
    transform: translate(431px,-50%);
    @include bgSvg(prev($white), no-repeat, 50% 50%);
  }
  .next{
    transform:translate(521px,-50%);
    @include bgSvg(next($white), no-repeat, 50% 50%);
    }
}

.slideshow-wrapper{
  @include setCont(100%, 100vh, flex, relative);
  .slide{
    @include setCont(100%, 100%, flex, absolute);
    color: $white;
    &::before{
      content:"";
      @include setCont(100%, calc(100% - 100px), block, absolute);
      max-width: 1480px;
      background-image: url(/img/bg_line.png);
      background-repeat: repeat-y;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
    .content{
      @include setCont(1180px, auto);
      @include fontMont;
      margin: 0 auto;
      justify-content: center;
      align-self: center;
      margin-top: -100px;
      h3{
        font-size: 25px;
      }
      h2{
        font-size: 80px;
        font-weight: 800;
        div:first-child{
          text-indent: -5%;
        }
      }
      .s_text{
        line-height: 22px;
        @include PreRegular;
        opacity: 0.8;
      }
    }
  }
  .s1{
    background-image: url(/img/main.png);
    background-size: auto 130%;
    z-index: 30;
  }
  .s2{
    background-image: url(/img/main.png);
    background-size: auto 130%;
    z-index: 20;
  }
  .s3{
    background-image: url(/img/main.png);
    background-size: auto 130%;
    z-index: 10;
  }
}

.area1{
  display: flex;
  height: 830px;
  background-image: url(/img/main2.png);
  background-size: 100%;
  background-attachment: fixed;
  .inner{
    width: 100%;
    padding: 75px 150px;
    align-items: center;
    .m_info{
      color: $white;
      text-align: center;
      @include fontMontBold;
      h2{
        font-size: 40px;
        @include fontMontBold;
        margin-bottom: 10px;
      }
      p{
        font-size: 25px;
      }
      .btns{
        margin-top: 36px;
        margin-bottom: 80px;
      }
    }
    .btns{
      height: 57px;
      display: inline-block;
      position: relative;
      line-height: 57px;
      font-size: 16px;
      @include fontMontBold;
      a{
        @include setCont(178px, null, inline-block, relative);        min-width: 178px;
        padding: 0 66px 0 25px;
        border: 1px solid #9b9b9b;
        color: $white;
        &:hover{
          border: 1px solid $hover;
          color: $hover;
        }
      }
    }
  }
  .a_service{
    display: flex;
    width: 1180px;
    justify-content: space-between;
    text-align: left;
    color: $white;
    margin: 0 auto;
    .box{
      @include setCont(580px, 350px);
      .box_inner{
        padding: 45px;
        height: 100%;
        .Techinfo_logo h3{
          @include setCont(150px, 34px);
          margin-bottom: 30px;
          text-indent: -9999px;
          background-image: url(/img/main2_l_1.png);
        }
        .text {
          span{
            @include fontMontBold;
            font-size: 15px;
            line-height: 25px;
          }
          h3, p{
            @include fontMontBold;
            font-size: 30px;
            margin-bottom: 27px;
          }
          p{font-size: 18px;}
        }
      }
    }
    .techinfo{
      background-image: url(/img/main2_l.png);
    }
    .u_trading{
      background-image: url(/img/main2_r.png);
    }
  }
}

.area2{
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg,#f3f3f3,#f3f3f3 50%,#fff 0,#fff);
    .inner{
      @include setCont(1180px, 695px, flex);
      article{
        width: 50%;
        padding: 80px 0 84px;
          h2{
            @include fontMontBold;
            font-size: 35px;
            text-align: center;
            margin-bottom: 40px;
          }
      }
      .notice{
        padding-right: 30px;
        li{
          @include setCont(100%, 104px);
          margin-bottom: 11px;
          background-color: #fff;
            a{
              @include setCont(100%, 100%, flex, relative);
              padding: 31px 25px;
              align-items: center;
              &:before {
                @include setCont(19px, 15px, block, absolute);
                @include bgSvg(arrow("#707070"), no-repeat, 50% 50%);
                top: 50%;
                right: 36px;
                transform: translateY(-50%);
                transition: all 200ms;
              }
              &:hover {
                &:before {
                  right: 26px;
                }
              }
              div{
                font-size: 42px;
                @include fontMontBold;
                color: #00A59A;
                text-align: center;
                .date{
                  font-size: 19px;
                }
                p{
                  @include NotoBold;
                  color: #333333;
                  font-size: 22px;
                }
              }
              .year{
                margin-right: 23px;
              } 
            }
        }
      }
      .contact{
        padding-left: 30px;
        .box2{
          @include NotoBold;
          display: flex;
          text-align: center;
          justify-content: space-between;
          color: $hover;
          font-size: 16px;
          .box{
            @include setCont(calc(50% - 10px), 450px, flex, relative);
            .box_inner{
              width: 100%;
              margin-top: 105px;
              h2{
                font-size: 30px;
                font-weight: 800;
                margin-bottom: 25px;
              }
              .t1{
                p{
                  line-height: 20px;
                  letter-spacing: -1px;
                  margin-bottom: 15px;
                  span{
                    @include NotoRegular;
                  }
                }
              }
              a{
                  @include setCont(110px, auto, inline-block);
                  color: $hover;
                  border: 1px solid #3cc1c6;
                  text-align: center;
                  font-size: 16px;
                  padding: 6px 0;
                  margin-bottom: 30px;
                }
            }
          }
          .box:first-child{
            background-image: url(/img/main3_1.png);
            background-size: 130%;
          }
          .box:last-child{
            background-image: url(/img/main3_2.png);
            background-size: 130%;
            h2{
              margin-bottom: 60px;
            }
            p{
              @include NotoRegular;
              line-height: 1.2;
              margin-bottom: 45px;
            }
          }
        }
      }
    }
}


