@mixin bgSvg(
  $fc: null,
  $repeat: no-repeat,
  $bgPos: 0 0,
  $bgSize: null,
  $bgColor: null
) {
  background: $bgColor $fc $repeat $bgPos;
  @if $bgSize != null {
    background-size: $bgSize;
  }
}

@mixin bg(
  $fileNm: null,
  $repeat: no-repeat,
  $bgPos: 0 0,
  $bgSize: null,
  $bgColor: null
) {
  background: $bgColor url($url + $fileNm + $version) $repeat $bgPos;
  image-rendering: -webkit-optimize-contrast;
  @if $bgSize != null {
    background-size: $bgSize;
  }
}

@mixin pc {
  @media (min-width: $pc) {
    @content;
  }
}

@mixin tablet{
  @media (min-width: $tablet){
  // @media (min-width: $tablet) and (max-width: ($pc - 1)){
    @content;
  }
}
@mixin toTablet{
  // @media (min-width: $tablet){
  @media (min-width: $tablet) and (max-width: ($pc - 1)){
    @content;
  }
}
