/*URL*/
$url: "https://s3.ap-northeast-2.amazonaws.com/static.unicornranch.co.kr/unicornranch/img/";
$font_url: "https://s3.ap-northeast-2.amazonaws.com/static.unicornranch.co.kr/common/font/";
/*Hashing*/
$version: "?v=1";

$max: 100%;
$pc: 1180px;
// $pc: 1220px;
$tablet: 768px;
$mobile: 375px;

$header: 100px;
$t_header: 60px;
$m_header: 65px;

/*Font 및 Color*/
$family: "NotoSansKR", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic",
  "맑은 고딕", dotum, "돋음", "AppleGothic", "Arial", "Meiryo", "sans-serif";
$font_def: 16px;
$thin: 100;
$bold: 500;
$white: #fff;
$black: #222;
$red: #fc3700;
$hover: #3cc1c6;
$gray: #666;
$point: #00a59a;
$point1: #016a6e;
$s_point: "00A59A";
$s_point1: "016A6E";
$s_hover: "3CC1C6";
$s_white: "fff";
$s_black: "222";
