@font-face {
  src: url("/font/NotoSansKR-Bold.woff");
  font-family: "NotoSansKR-Bold";
}

@font-face {
  src: url("/font/NotoSansKR-Regular.woff");
  font-family: "NotoSansKR-Regular";
}

@font-face {
  src: url("/font/Montserrat-Bold.woff");
  font-family: "Montserrat-Bold";
}

@font-face {
  src: url("/font/Pretendard-Regular.woff");
  font-family: "Pretendard-Regular";
}

.wrap {
  position: absolute;
  width: 1480px;
  height: 2685px;
  background-color: #ffffff;
  overflow: hidden;

  header {
    position: absolute;
    z-index: 2;
    width: 1180px;
    height: 40.5px;
    left: 150px;
    top: 36px;
    overflow: visible;

    .header_logo {
      position: absolute;
      width: 224.901px;
      height: 25px;
      left: 0px;
      top: 4px;
      overflow: visible;

      .header_logo_img {
        position: absolute;
        width: 224.901px;
        height: 25px;
        left: 0px;
        top: 0px;
        overflow: visible;
      }
    }

    nav {
      position: absolute;
      width: 498.5px;
      height: 40.5px;
      left: 340.5px;
      top: 0px;
      overflow: visible;

      .lnb1 {
        position: absolute;
        width: 75px;
        height: 40.5px;
        left: 0px;
        top: 0px;
        overflow: visible;

        .lnb1_txt {
          left: 0.5px;
          top: 1px;
          position: absolute;
          overflow: visible;
          width: 81px;
          white-space: nowrap;
          line-height: 28px;
          margin-top: -4px;
          text-align: left;
          font-family: "NotoSansKR-Bold";
          font-weight: bold;
          font-size: 20px;
          color: #ffffff;

          &:hover + .under_bar1 {
            opacity: 1;
          }
        }

        .under_bar1 {
          overflow: visible;
          position: absolute;
          width: 75px;
          height: 3px;
          left: 0px;
          top: 40.5px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='3' viewBox='0 0 75 3'%3E%3Cline id='선_34' data-name='선 34' x2='75' transform='translate(0 1.5)' fill='none' stroke='%23fff' stroke-width='3'/%3E%3C/svg%3E%0A");
          transition: all 0.3s;
          opacity: 0;
        }
      }

      .lnb2 {
        position: absolute;
        width: 55.5px;
        height: 40.5px;
        left: 144.5px;
        top: 0px;
        overflow: visible;

        .lnb2_txt {
          left: 0px;
          top: 1px;
          position: absolute;
          overflow: visible;
          width: 61px;
          white-space: nowrap;
          line-height: 28px;
          margin-top: -4px;
          text-align: left;
          font-family: "NotoSansKR-Bold";
          font-weight: bold;
          font-size: 20px;
          color: #ffffff;

          &:hover + .under_bar2 {
            opacity: 1;
          }
        }

        .under_bar2 {
          overflow: visible;
          position: absolute;
          width: 55.5px;
          height: 3px;
          left: 0px;
          top: 40.5px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='55.5' height='3' viewBox='0 0 55.5 3'%3E%3Cline id='선_35' data-name='선 35' x2='55.5' transform='translate(0 1.5)' fill='none' stroke='%23fff' stroke-width='3'/%3E%3C/svg%3E%0A");
          transition: all 0.3s;
          opacity: 0;
        }
      }

      .lnb3 {
        position: absolute;
        width: 81.5px;
        height: 40.5px;
        left: 273.5px;
        top: 0px;
        overflow: visible;

        .lnb3_txt {
          left: 0px;
          top: 1px;
          position: absolute;
          overflow: visible;
          width: 90px;
          white-space: nowrap;
          line-height: 28px;
          margin-top: -4px;
          text-align: left;
          font-family: "NotoSansKR-Bold";
          font-weight: bold;
          font-size: 20px;
          color: #ffffff;

          &:hover + .under_bar3 {
            opacity: 1;
          }
        }

        .under_bar3 {
          overflow: visible;
          position: absolute;
          width: 81.5px;
          height: 3px;
          left: 0px;
          top: 40.5px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='81.5' height='3' viewBox='0 0 81.5 3'%3E%3Cline id='선_36' data-name='선 36' x2='81.5' transform='translate(0 1.5)' fill='none' stroke='%23fff' stroke-width='3'/%3E%3C/svg%3E%0A");
          transition: all 0.3s;
          opacity: 0;
        }
      }

      .lnb4 {
        position: absolute;
        width: 74px;
        height: 29px;
        left: 424.5px;
        top: 0px;
        overflow: visible;

        .lnb4_txt {
          left: 0px;
          top: 1px;
          position: absolute;
          overflow: visible;
          width: 81px;
          white-space: nowrap;
          line-height: 28px;
          margin-top: -4px;
          text-align: left;
          font-family: "NotoSansKR-Bold";
          font-weight: bold;
          font-size: 20px;
          color: #ffffff;

          &:hover + .under_bar4 {
            opacity: 1;
          }
        }

        .under_bar4 {
          overflow: visible;
          position: absolute;
          width: 75px;
          height: 3px;
          left: 0px;
          top: 40.5px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='3' viewBox='0 0 75 3'%3E%3Cline id='선_34' data-name='선 34' x2='75' transform='translate(0 1.5)' fill='none' stroke='%23fff' stroke-width='3'/%3E%3C/svg%3E%0A");
          transition: all 0.3s;
          opacity: 0;
        }
      }
    }

    .header_info {
      position: absolute;
      width: 120.78px;
      height: 24px;
      left: 1059.22px;
      top: 1px;
      overflow: visible;

      .icon {
        position: absolute;
        width: 17.78px;
        height: 20px;
        left: 0px;
        top: 4px;
        overflow: visible;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.78' height='20' viewBox='0 0 17.78 20'%3E%3Cpath id='패스_50' data-name='패스 50' d='M17.5,18.149l-4.377-5.4a7.609,7.609,0,0,0,1.12-1.567,7.354,7.354,0,0,0,.875-2.775,7.516,7.516,0,0,0-.245-2.9A7.364,7.364,0,0,0,13.494,2.83,7.525,7.525,0,0,0,11.183.869,7.568,7.568,0,0,0,.871,3.976,7.717,7.717,0,0,0,0,6.751,7.53,7.53,0,0,0,.284,9.623a7.588,7.588,0,0,0,3.694,4.6,7.39,7.39,0,0,0,2.775.875,7.5,7.5,0,0,0,2.871-.228,7.935,7.935,0,0,0,1.751-.762l4.377,5.41A1.116,1.116,0,0,0,17.5,18.14h0Zm-6.364-6.128A5.667,5.667,0,0,1,4.048,3.18h0a5.575,5.575,0,0,1,3.5-1.243,5.047,5.047,0,0,1,.63,0,5.6,5.6,0,0,1,3.808,2.11,5.7,5.7,0,0,1-.849,7.975Z' transform='translate(0.037 0.053)' fill='%23fff'/%3E%3C/svg%3E%0A");
      }

      .header_info_lng {
        position: absolute;
        width: 68px;
        height: 24px;
        left: 52.78px;
        top: 0px;
        overflow: visible;

        &:hover > .icon4 {
          opacity: 1;
        }

        .icon2 {
          position: absolute;
          width: 20px;
          height: 20px;
          left: 0px;
          top: 3px;
          overflow: visible;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg id='아이콘-언어' transform='translate(-1139 -387)'%3E%3Cg id='타원_1' data-name='타원 1' transform='translate(1139 387)' fill='none' stroke='%23fff' stroke-width='1'%3E%3Ccircle cx='10' cy='10' r='10' stroke='none'/%3E%3Ccircle cx='10' cy='10' r='9.5' fill='none'/%3E%3C/g%3E%3Cg id='타원_2' data-name='타원 2' transform='translate(1139 393)' fill='none' stroke='%23fff' stroke-width='1'%3E%3Cellipse cx='10' cy='4' rx='10' ry='4' stroke='none'/%3E%3Cellipse cx='10' cy='4' rx='9.5' ry='3.5' fill='none'/%3E%3C/g%3E%3Cg id='타원_3' data-name='타원 3' transform='translate(1145 407) rotate(-90)' fill='none' stroke='%23fff' stroke-width='1'%3E%3Cellipse cx='10' cy='4' rx='10' ry='4' stroke='none'/%3E%3Cellipse cx='10' cy='4' rx='9.5' ry='3.5' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        }

        .icon3 {
          overflow: visible;
          position: absolute;
          width: 8px;
          height: 4px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='4' viewBox='0 0 8 4'%3E%3Cpath id='다각형_23' data-name='다각형 23' d='M4,0,8,4H0Z' transform='translate(8 4) rotate(-180)' fill='%23fff'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          left: 60px;
          top: 12px;
        }

        .icon4 {
          overflow: visible;
          position: absolute;
          width: 55px;
          height: 62px;
          left: 13px;
          top: 27px;
          transition: all 0.3s;
          opacity: 0;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='55' height='62' viewBox='0 0 55 62'%3E%3Cpath id='합치기_4' data-name='합치기 4' d='M-1262,25V-33h25l3-4,3,4h24V25Z' transform='translate(1262 37)' fill='%23016a6e'/%3E%3Cg id='구성_요소_8_1' data-name='구성 요소 8 – 1' transform='translate(18 9)'%3E%3Ctext id='KR' transform='translate(10 19)' fill='%23fff' font-size='16' font-family='SegoeUI, Segoe UI' letter-spacing='-0.025em'%3E%3Ctspan x='-9.226' y='0'%3EKR%3C/tspan%3E%3C/text%3E%3C/g%3E%3Cg id='구성_요소_9_1' data-name='구성 요소 9 – 1' transform='translate(18 31)'%3E%3Ctext id='EN' transform='translate(10 19)' fill='%23fff' font-size='16' font-family='SegoeUI, Segoe UI' letter-spacing='-0.025em'%3E%3Ctspan x='-9.831' y='0'%3EEN%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E%0A");
        }

        .KR {
          left: 31px;
          top: 2px;
          position: absolute;
          overflow: visible;
          width: 19px;
          white-space: nowrap;
          text-align: center;
          font-family: "NotoSansKR-Regular";
          font-weight: normal;
          font-size: 16px;
          color: #ffffff;
          letter-spacing: -0.25px;
        }
      }
    }
  }

  section {
    position: absolute;
    width: 1942.89px;
    height: 2455px;
    left: -425px;
    top: 0px;
    overflow: visible;

    .main_section1 {
      position: absolute;
      width: 1942.89px;
      height: 1343.08px;
      left: 0px;
      top: 0px;
      overflow: visible;

      .main_section1_content {
        position: absolute;
        width: 1942.89px;
        height: 1343.08px;
        left: 0px;
        top: 0px;
        overflow: visible;

        .main_img {
          position: absolute;
          width: 1480px;
          height: 930px;
          left: 425px;
          top: 0px;
          overflow: visible;
        }

        .content {
          position: absolute;
          width: 1294px;
          height: 391px;
          left: 0px;
          top: 281px;
          overflow: visible;

          .about {
            left: 575px;
            top: 0px;
            position: absolute;
            overflow: visible;
            width: 95px;
            white-space: nowrap;
            line-height: 38px;
            margin-top: -6.5px;
            text-align: left;
            font-family: "Montserrat-Bold";
            font-weight: bold;
            font-size: 25px;
            color: #ffffff;
          }

          .Unicorn_Ranch {
            left: 508px;
            top: 34px;
            position: absolute;
            overflow: visible;
            width: 601px;
            white-space: nowrap;
            text-align: center;
            font-family: "Montserrat-Bold";
            font-weight: bold;
            font-size: 80px;
            color: #ffffff;
            letter-spacing: -0.2px;
          }

          .contents {
            opacity: 0.8;
            left: 575px;
            top: 156px;
            position: absolute;
            overflow: visible;
            width: 720px;
            line-height: 28px;
            margin-top: -4px;
            text-align: left;
            font-family: "Pretendard-Regular";
            font-weight: normal;
            font-size: 20px;
            color: #ffffff;
          }

          .detail {
            position: absolute;
            width: 151.5px;
            height: 59px;
            left: 575px;
            top: 332px;
            overflow: visible;

            .details {
              opacity: 0.8;
              left: 0px;
              top: 19px;
              position: absolute;
              overflow: visible;
              width: 85px;
              white-space: nowrap;
              line-height: 20px;
              margin-top: -2px;
              text-align: left;
              font-family: "NotoSansKR-Bold";
              font-weight: bold;
              font-size: 16px;
              transition: 0.3s;
              color: #ffffff;
            }

            .button {
              overflow: visible;
              position: absolute;
              width: 151px;
              height: 60px;
              left: 0px;
              top: 0px;
              transition: 0.3s;
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='151' height='60' viewBox='0 0 151 60'%3E%3Cline id='선_18' data-name='선 18' x2='150' transform='translate(0.5 0.5)' fill='none' stroke='%23fff' stroke-linecap='square' stroke-width='1'/%3E%3Cline id='선_19' data-name='선 19' x2='150' transform='translate(0.5 59.5)' fill='none' stroke='%23fff' stroke-linecap='square' stroke-width='1'/%3E%3Cpath id='합치기_3' data-name='합치기 3' d='M50,0,41,6ZM24,0h0Z' transform='translate(85.5 31)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
            }

            &:hover > {
              .button {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='151' height='60' viewBox='0 0 151 60'%3E%3Cline id='선_18' data-name='선 18' x2='150' transform='translate(0.5 0.5)' fill='none' stroke='%233cc1c6' stroke-linecap='square' stroke-width='1'/%3E%3Cline id='선_19' data-name='선 19' x2='150' transform='translate(0.5 59.5)' fill='none' stroke='%233cc1c6' stroke-linecap='square' stroke-width='1'/%3E%3Cpath id='합치기_3' data-name='합치기 3' d='M50,0,41,6ZM24,0h0Z' transform='translate(95.5 31)' fill='%233cc1c6' stroke='%233cc1c6' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
              }

              .details {
                color: #3cc1c6;
              }
            }
          }
        }
      }
      .button_left {
        position: absolute;
        width: 69px;
        height: 69px;
        left: 1592px;
        top: 480px;
        overflow: visible;

        .button {
          position: absolute;
          overflow: visible;
          width: 69px;
          height: 69px;
          left: 0px;
          top: 0px;
          transition: 0.3s;
          background-image: url("data:image/svg+xml,%3Csvg id='버튼-비주얼넥스트' xmlns='http://www.w3.org/2000/svg' width='69' height='69' viewBox='0 0 69 69'%3E%3Cpath id='버튼-자세히보기' d='M26,6,17,0ZM0,6H0Z' transform='translate(47.5 37.5) rotate(180)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cg id='타원_5' data-name='타원 5' fill='none' stroke='%23fff' stroke-width='2'%3E%3Ccircle cx='34.5' cy='34.5' r='34.5' stroke='none'/%3E%3Ccircle cx='34.5' cy='34.5' r='33.5' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");

          &:hover {
            background-image: url("data:image/svg+xml,%3Csvg id='버튼-비주얼넥스트' xmlns='http://www.w3.org/2000/svg' width='69' height='69' viewBox='0 0 69 69'%3E%3Cpath id='버튼-자세히보기' d='M26,6,17,0ZM0,6H0Z' transform='translate(37.5 37.5) rotate(180)' fill='none' stroke='%233cc4c4' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cg id='타원_5' data-name='타원 5' fill='none' stroke='%233cc4c4' stroke-width='2'%3E%3Ccircle cx='34.5' cy='34.5' r='34.5' stroke='none'/%3E%3Ccircle cx='34.5' cy='34.5' r='33.5' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
          }
        }
      }

      .button_right {
        position: absolute;
        width: 69px;
        height: 69px;
        left: 1686px;
        top: 480px;
        overflow: visible;

        .button {
          position: absolute;
          overflow: visible;
          width: 69px;
          height: 69px;
          left: 0px;
          top: 0px;
          transition: 0.3s;
          background-image: url("data:image/svg+xml,%3Csvg id='버튼-비주얼넥스트' xmlns='http://www.w3.org/2000/svg' width='69' height='69' viewBox='0 0 69 69'%3E%3Cpath id='버튼-자세히보기' d='M50,0,41,6ZM24,0h0Z' transform='translate(-2.5 31.5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cg id='타원_5' data-name='타원 5' fill='none' stroke='%23fff' stroke-width='2'%3E%3Ccircle cx='34.5' cy='34.5' r='34.5' stroke='none'/%3E%3Ccircle cx='34.5' cy='34.5' r='33.5' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");

          &:hover {
            background-image: url("data:image/svg+xml,%3Csvg id='버튼-비주얼넥스트' xmlns='http://www.w3.org/2000/svg' width='69' height='69' viewBox='0 0 69 69'%3E%3Cpath id='버튼-자세히보기' d='M50,0,41,6ZM24,0h0Z' transform='translate(7.5 31.5)' fill='none' stroke='%233cc4c4' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cg id='타원_5' data-name='타원 5' fill='none' stroke='%233cc4c4' stroke-width='2'%3E%3Ccircle cx='34.5' cy='34.5' r='34.5' stroke='none'/%3E%3Ccircle cx='34.5' cy='34.5' r='33.5' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
          }
        }
      }
    }

    .main_section2 {
      position: absolute;
      width: 1480px;
      height: 830px;
      left: 425px;
      top: 930px;
      overflow: visible;

      .main_section2_img {
        position: absolute;
        width: 1480px;
        height: 830px;
        left: 0px;
        top: 0px;
        overflow: visible;

        .main2_img {
          position: absolute;
          width: 1480px;
          height: 830px;
          left: 0px;
          top: 0px;
          overflow: visible;
        }
      }

      .main_section2_content {
        position: absolute;
        width: 454px;
        height: 238px;
        left: 513px;
        top: 80px;
        overflow: visible;

        .content {
          left: 0px;
          top: 108px;
          position: absolute;
          overflow: visible;
          width: 455px;
          white-space: nowrap;
          text-align: center;
          font-family: "Montserrat-Bold";
          font-weight: bold;
          font-size: 25px;
          color: #ffffff;
          letter-spacing: -0.25px;
        }

        .About_Unicorn_Ranch {
          left: 78px;
          top: 0px;
          position: absolute;
          overflow: visible;
          width: 299px;
          white-space: nowrap;
          text-align: center;
          font-family: "Montserrat-Bold";
          font-weight: bold;
          font-size: 40px;
          color: #ffffff;
          letter-spacing: -0.25px;
        }

        .text1 {
          position: absolute;
          width: 174px;
          height: 57px;
          left: 46px;
          top: 181px;
          overflow: visible;

          .text_l {
            left: 25px;
            top: 19px;
            position: absolute;
            overflow: visible;
            width: 64px;
            white-space: nowrap;
            text-align: left;
            font-family: "NotoSansKR-Bold";
            font-weight: bold;
            font-size: 16px;
            color: #ffffff;
            letter-spacing: -0.25px;
            transition: 0.3s;
          }

          &:hover > .text_l {
            color: #3cc1c6;
          }

          .button {
            position: absolute;
            overflow: visible;
            width: 174px;
            height: 57px;
            left: 0px;
            top: 0px;
            transition: 0.3s;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='174' height='57' viewBox='0 0 174 57'%3E%3Cg id='사각형_125' data-name='사각형 125' fill='none' stroke='%239b9b9b' stroke-width='1'%3E%3Crect width='174' height='57' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='173' height='56' fill='none'/%3E%3C/g%3E%3Cpath id='아이콘-바로가기' d='M50,0,41,6ZM24,0h0Z' transform='translate(104 28.5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
          }

          &:hover > .button {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='174' height='57' viewBox='0 0 174 57'%3E%3Cg id='사각형_125' data-name='사각형 125' fill='none' stroke='%233cc1c6' stroke-width='1'%3E%3Crect width='174' height='57' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='173' height='56' fill='none'/%3E%3C/g%3E%3Cpath id='아이콘-바로가기' d='M50,0,41,6ZM24,0h0Z' transform='translate(114 28.5)' fill='%233cc1c6' stroke='%233cc1c6' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
          }
        }

        .text2 {
          position: absolute;
          width: 174px;
          height: 57px;
          left: 230px;
          top: 181px;
          overflow: visible;

          .text_r {
            left: 25px;
            top: 19px;
            position: absolute;
            overflow: visible;
            width: 87px;
            white-space: nowrap;
            text-align: left;
            font-family: "NotoSansKR-Bold";
            font-weight: bold;
            font-size: 16px;
            color: #ffffff;
            letter-spacing: -0.25px;
            transition: 0.3s;
          }

          .button {
            position: absolute;
            overflow: visible;
            width: 174px;
            height: 57px;
            left: 0px;
            top: 0px;
            transition: 0.3s;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='174' height='57' viewBox='0 0 174 57'%3E%3Cg id='사각형_125' data-name='사각형 125' fill='none' stroke='%239b9b9b' stroke-width='1'%3E%3Crect width='174' height='57' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='173' height='56' fill='none'/%3E%3C/g%3E%3Cpath id='아이콘-바로가기' d='M50,0,41,6ZM24,0h0Z' transform='translate(104 28.5)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
          }

          &:hover > .button {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='174' height='57' viewBox='0 0 174 57'%3E%3Cg id='사각형_125' data-name='사각형 125' fill='none' stroke='%233cc1c6' stroke-width='1'%3E%3Crect width='174' height='57' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='173' height='56' fill='none'/%3E%3C/g%3E%3Cpath id='아이콘-바로가기' d='M50,0,41,6ZM24,0h0Z' transform='translate(114 28.5)' fill='%233cc1c6' stroke='%233cc1c6' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
          }
        }
      }

      .main_section2_left {
        position: absolute;
        width: 580px;
        height: 350px;
        left: 150px;
        top: 398px;
        overflow: visible;

        .main2_left {
          position: absolute;
          width: 580px;
          height: 350px;
          left: 0px;
          top: 0px;
          overflow: visible;
        }

        .main2_left_1 {
          position: absolute;
          width: 149.703px;
          height: 34px;
          left: 46px;
          top: 50px;
          overflow: visible;

          .main2_left_1_img {
            position: absolute;
            width: 149.703px;
            height: 34px;
            left: 0px;
            top: 0px;
            overflow: visible;

            .img {
              position: absolute;
              width: 149.703px;
              height: 34px;
              left: 0px;
              top: 0px;
              overflow: visible;
            }
          }
        }

        .main2_left_2 {
          left: 46px;
          top: 114px;
          position: absolute;
          overflow: visible;
          width: 66px;
          white-space: nowrap;
          text-align: left;
          font-family: "Montserrat-Bold";
          font-weight: bold;
          font-size: 15px;
          color: #ffffff;
          letter-spacing: -0.25px;
        }

        .main2_left_3 {
          left: 46px;
          top: 135px;
          position: absolute;
          overflow: visible;
          width: 378px;
          white-space: nowrap;
          text-align: left;
          font-family: "NotoSansKR-Bold";
          font-weight: bold;
          font-size: 30px;
          color: #ffffff;
          letter-spacing: -0.25px;
        }

        .main2_left_4 {
          left: 46px;
          top: 197px;
          position: absolute;
          overflow: visible;
          width: 383px;
          white-space: nowrap;
          text-align: left;
          font-family: "NotoSansKR-Bold";
          font-weight: bold;
          font-size: 18px;
          color: #ffffff;
          letter-spacing: -0.25px;
        }

        .main2_left_5 {
          position: absolute;
          width: 174px;
          height: 57px;
          left: 46px;
          top: 247px;
          overflow: visible;

          .detail {
            left: 25px;
            top: 19px;
            position: absolute;
            overflow: visible;
            width: 79px;
            white-space: nowrap;
            text-align: left;
            font-family: "NotoSansKR-Bold";
            font-weight: bold;
            font-size: 16px;
            color: #ffffff;
            letter-spacing: -0.25px;
            transition: 0.3s;
          }

          &:hover > .detail {
            color: #3cc1c6;
          }

          .button {
            position: absolute;
            overflow: visible;
            width: 174px;
            height: 57px;
            left: 0px;
            top: 0px;
            transition: 0.3s;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='174' height='57' viewBox='0 0 174 57'%3E%3Cg id='사각형_125' data-name='사각형 125' fill='none' stroke='%239b9b9b' stroke-width='1'%3E%3Crect width='174' height='57' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='173' height='56' fill='none'/%3E%3C/g%3E%3Cpath id='아이콘-바로가기' d='M50,0,41,6ZM24,0h0Z' transform='translate(99 28.5)' fill='%23f5f5f5' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
          }

          &:hover > .button {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='174' height='57' viewBox='0 0 174 57'%3E%3Cg id='사각형_125' data-name='사각형 125' fill='none' stroke='%233cc1c6' stroke-width='1'%3E%3Crect width='174' height='57' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='173' height='56' fill='none'/%3E%3C/g%3E%3Cpath id='아이콘-바로가기' d='M50,0,41,6ZM24,0h0Z' transform='translate(109 28.5)' fill='%233cc1c6' stroke='%233cc1c6' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
          }
        }
      }

      .main_section2_right {
        position: absolute;
        width: 580px;
        height: 350px;
        left: 750px;
        top: 398px;
        overflow: visible;

        .main2_right {
          position: absolute;
          width: 580px;
          height: 350px;
          left: 0px;
          top: 0px;
          overflow: visible;
        }

        .main2_right_1 {
          position: absolute;
          width: 149.444px;
          height: 34px;
          left: 45px;
          top: 50px;
          overflow: visible;

          .img {
            position: absolute;
            width: 149.444px;
            height: 34px;
            left: 0px;
            top: 0px;
            overflow: visible;
          }
        }

        .main2_right_2 {
          left: 45px;
          top: 114px;
          position: absolute;
          overflow: visible;
          width: 66px;
          white-space: nowrap;
          text-align: left;
          font-family: "Montserrat-Bold";
          font-weight: bold;
          font-size: 15px;
          color: #ffffff;
          letter-spacing: -0.25px;
        }

        .main2_right_3 {
          left: 45px;
          top: 135px;
          position: absolute;
          overflow: visible;
          width: 366px;
          white-space: nowrap;
          text-align: left;
          font-family: "NotoSansKR-Bold";
          font-weight: bold;
          font-size: 30px;
          color: #ffffff;
          letter-spacing: -0.25px;
        }

        .main2_right_4 {
          left: 45px;
          top: 197px;
          position: absolute;
          overflow: visible;
          width: 432px;
          white-space: nowrap;
          text-align: left;
          font-family: "NotoSansKR-Bold";
          font-weight: bold;
          font-size: 18px;
          color: #ffffff;
          letter-spacing: -0.25px;
        }

        .main2_right_5 {
          position: absolute;
          width: 174px;
          height: 57px;
          left: 45px;
          top: 247px;
          overflow: visible;

          .button {
            position: absolute;
            overflow: visible;
            width: 174px;
            height: 57px;
            left: 0px;
            top: 0px;
            transition: 0.3s;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='174' height='57' viewBox='0 0 174 57'%3E%3Cg id='사각형_125' data-name='사각형 125' fill='none' stroke='%239b9b9b' stroke-width='1'%3E%3Crect width='174' height='57' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='173' height='56' fill='none'/%3E%3C/g%3E%3Cpath id='아이콘-바로가기' d='M50,0,41,6ZM24,0h0Z' transform='translate(99 28.5)' fill='%23f5f5f5' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
          }

          &:hover > .button {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='174' height='57' viewBox='0 0 174 57'%3E%3Cg id='사각형_125' data-name='사각형 125' fill='none' stroke='%233cc1c6' stroke-width='1'%3E%3Crect width='174' height='57' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='173' height='56' fill='none'/%3E%3C/g%3E%3Cpath id='아이콘-바로가기' d='M50,0,41,6ZM24,0h0Z' transform='translate(109 28.5)' fill='%233cc1c6' stroke='%233cc1c6' stroke-linecap='round' stroke-linejoin='round' stroke-width='1'/%3E%3C/svg%3E%0A");
          }

          .detail {
            left: 25px;
            top: 19px;
            position: absolute;
            overflow: visible;
            width: 79px;
            white-space: nowrap;
            text-align: left;
            font-family: "NotoSansKR-Bold";
            font-weight: bold;
            font-size: 16px;
            color: #ffffff;
            letter-spacing: -0.25px;
            transition: 0.3s;
          }

          &:hover > .detail {
            color: #3cc1c6;
          }
        }
      }
    }

    .main_section3 {
      position: absolute;
      width: 1330px;
      height: 695px;
      left: 425px;
      top: 1760px;
      overflow: visible;

      .main_section3_left {
        position: absolute;
        width: 560px;
        height: 532px;
        left: 150px;
        top: 80px;
        overflow: visible;
      }

      .main_section3_bc {
        overflow: visible;
        position: absolute;
        width: 740px;
        height: 695px;
        left: 0px;
        top: 0px;
        transform: matrix(1, 0, 0, 1, 0, 0);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='740' height='695' viewBox='0 0 740 695'%3E%3Cpath id='백그라운드-회색' d='M0,0H740V695H0Z' fill='%23f3f3f3'/%3E%3C/svg%3E%0A");
      }

      .main_section3_left {
        .News_Notice {
          left: 167px;
          top: 0px;
          position: absolute;
          overflow: visible;
          width: 257px;
          white-space: nowrap;
          text-align: center;
          font-family: "Montserrat-Bold";
          font-weight: bold;
          font-size: 35px;
          color: #000000;
          letter-spacing: -0.25px;
        }

        .main3_left_1 {
          position: absolute;
          width: 560px;
          height: 104px;
          left: 0px;
          top: 83px;
          overflow: visible;

          .box {
            position: absolute;
            overflow: visible;
            width: 560px;
            height: 104px;
            left: 0px;
            top: 0px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='560' height='104' viewBox='0 0 560 104'%3E%3Crect id='사각형_126' data-name='사각형 126' width='560' height='104' fill='%23fff'/%3E%3C/svg%3E%0A");
          }

          .text {
            position: absolute;
            width: 478px;
            height: 75px;
            left: 31px;
            top: 14px;
            overflow: visible;

            .text_1 {
              left: 0px;
              top: 0px;
              position: absolute;
              overflow: visible;
              width: 69px;
              white-space: nowrap;
              text-align: center;
              font-family: "Montserrat-Bold";
              font-weight: bold;
              font-size: 35px;
              color: #00a59a;
              letter-spacing: -0.25px;
            }

            .text_2 {
              left: 91px;
              top: 23px;
              position: absolute;
              overflow: visible;
              width: 388px;
              white-space: nowrap;
              line-height: 38px;
              margin-top: -8px;
              text-align: left;
              font-family: "NotoSansKR-Bold";
              font-weight: bold;
              font-size: 22px;
              color: #333333;
              letter-spacing: -0.25px;
            }
          }

          .arrow {
            overflow: visible;
            position: absolute;
            width: 20.161px;
            height: 16.528px;
            left: 505.765px;
            top: 47.776px;
            transition: 0.3s;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.161' height='16.528' viewBox='0 0 20.161 16.528'%3E%3Cpath id='합치기_2' data-name='합치기 2' d='M18.161,7.265,10.9,14.528Zm0,0h0L10.9,0Z' transform='translate(1 1)' fill='none' stroke='%23707070' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E%0A");
          }

          &:hover > .arrow {
            left: 515.765px;
          }
        }

        .main3_left_2 {
          position: absolute;
          width: 560px;
          height: 104px;
          left: 0px;
          top: 198px;
          overflow: visible;

          .box {
            position: absolute;
            overflow: visible;
            width: 560px;
            height: 104px;
            left: 0px;
            top: 0px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='560' height='104' viewBox='0 0 560 104'%3E%3Crect id='사각형_126' data-name='사각형 126' width='560' height='104' fill='%23fff'/%3E%3C/svg%3E%0A");
          }

          .text {
            position: absolute;
            width: 478px;
            height: 75px;
            left: 31px;
            top: 14px;
            overflow: visible;

            .text_1 {
              left: 0px;
              top: 0px;
              position: absolute;
              overflow: visible;
              width: 69px;
              white-space: nowrap;
              text-align: center;
              font-family: "Montserrat-Bold";
              font-weight: bold;
              font-size: 35px;
              color: #00a59a;
              letter-spacing: -0.25px;
            }

            .text_2 {
              left: 91px;
              top: 23px;
              position: absolute;
              overflow: visible;
              width: 388px;
              white-space: nowrap;
              line-height: 38px;
              margin-top: -8px;
              text-align: left;
              font-family: "NotoSansKR-Bold";
              font-weight: bold;
              font-size: 22px;
              color: #333333;
              letter-spacing: -0.25px;
            }
          }

          .arrow {
            overflow: visible;
            position: absolute;
            width: 20.161px;
            height: 16.528px;
            left: 505.765px;
            top: 47.776px;
            transition: 0.3s;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.161' height='16.528' viewBox='0 0 20.161 16.528'%3E%3Cpath id='합치기_2' data-name='합치기 2' d='M18.161,7.265,10.9,14.528Zm0,0h0L10.9,0Z' transform='translate(1 1)' fill='none' stroke='%23707070' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E%0A");
          }

          &:hover > .arrow {
            left: 515.765px;
          }
        }

        .main3_left_3 {
          position: absolute;
          width: 560px;
          height: 104px;
          left: 0px;
          top: 313px;
          overflow: visible;

          .box {
            position: absolute;
            overflow: visible;
            width: 560px;
            height: 104px;
            left: 0px;
            top: 0px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='560' height='104' viewBox='0 0 560 104'%3E%3Crect id='사각형_126' data-name='사각형 126' width='560' height='104' fill='%23fff'/%3E%3C/svg%3E%0A");
          }

          .text {
            position: absolute;
            width: 478px;
            height: 75px;
            left: 31px;
            top: 14px;
            overflow: visible;

            .text_1 {
              left: 0px;
              top: 0px;
              position: absolute;
              overflow: visible;
              width: 69px;
              white-space: nowrap;
              text-align: center;
              font-family: "Montserrat-Bold";
              font-weight: bold;
              font-size: 35px;
              color: #00a59a;
              letter-spacing: -0.25px;
            }

            .text_2 {
              left: 91px;
              top: 23px;
              position: absolute;
              overflow: visible;
              width: 388px;
              white-space: nowrap;
              line-height: 38px;
              margin-top: -8px;
              text-align: left;
              font-family: "NotoSansKR-Bold";
              font-weight: bold;
              font-size: 22px;
              color: #333333;
              letter-spacing: -0.25px;
            }
          }

          .arrow {
            overflow: visible;
            position: absolute;
            width: 20.161px;
            height: 16.528px;
            left: 505.765px;
            top: 47.776px;
            transition: 0.3s;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.161' height='16.528' viewBox='0 0 20.161 16.528'%3E%3Cpath id='합치기_2' data-name='합치기 2' d='M18.161,7.265,10.9,14.528Zm0,0h0L10.9,0Z' transform='translate(1 1)' fill='none' stroke='%23707070' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E%0A");
          }

          &:hover > .arrow {
            left: 515.765px;
          }
        }

        .main3_left_4 {
          position: absolute;
          width: 560px;
          height: 104px;
          left: 0px;
          top: 428px;
          overflow: visible;

          .box {
            position: absolute;
            overflow: visible;
            width: 560px;
            height: 104px;
            left: 0px;
            top: 0px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='560' height='104' viewBox='0 0 560 104'%3E%3Crect id='사각형_126' data-name='사각형 126' width='560' height='104' fill='%23fff'/%3E%3C/svg%3E%0A");
          }

          .text {
            position: absolute;
            width: 478px;
            height: 75px;
            left: 31px;
            top: 14px;
            overflow: visible;

            .text_1 {
              left: 0px;
              top: 0px;
              position: absolute;
              overflow: visible;
              width: 69px;
              white-space: nowrap;
              text-align: center;
              font-family: "Montserrat-Bold";
              font-weight: bold;
              font-size: 35px;
              color: #00a59a;
              letter-spacing: -0.25px;
            }

            .text_2 {
              left: 91px;
              top: 23px;
              position: absolute;
              overflow: visible;
              width: 388px;
              white-space: nowrap;
              line-height: 38px;
              margin-top: -8px;
              text-align: left;
              font-family: "NotoSansKR-Bold";
              font-weight: bold;
              font-size: 22px;
              color: #333333;
              letter-spacing: -0.25px;
            }
          }

          .arrow {
            overflow: visible;
            position: absolute;
            width: 20.161px;
            height: 16.528px;
            left: 505.765px;
            top: 47.776px;
            transition: 0.3s;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.161' height='16.528' viewBox='0 0 20.161 16.528'%3E%3Cpath id='합치기_2' data-name='합치기 2' d='M18.161,7.265,10.9,14.528Zm0,0h0L10.9,0Z' transform='translate(1 1)' fill='none' stroke='%23707070' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E%0A");
          }

          &:hover > .arrow {
            left: 515.765px;
          }
        }
      }

      .main_section3_right {
        position: absolute;
        width: 560px;
        height: 532.329px;
        left: 770px;
        top: 80px;
        overflow: visible;

        .Partner_Contact_us {
          left: 131px;
          top: 0px;
          position: absolute;
          overflow: visible;
          width: 367px;
          white-space: nowrap;
          text-align: center;
          font-family: "Montserrat-Bold";
          font-weight: bold;
          font-size: 35px;
          color: #010011;
          letter-spacing: -0.25px;
        }

        .main3_right_1 {
          position: absolute;
          width: 270px;
          height: 450.329px;
          left: 0px;
          top: 82px;
          overflow: visible;

          .img {
            position: absolute;
            width: 270px;
            height: 450px;
            left: 0px;
            top: 0.329px;
            overflow: visible;
          }

          .main3_right_2 {
            left: 43px;
            top: 97.671px;
            position: absolute;
            overflow: visible;
            width: 185px;
            white-space: nowrap;
            text-align: center;
            font-family: "NotoSansKR-Bold";
            font-weight: bold;
            font-size: 30px;
            color: #3cc1c6;
            letter-spacing: -0.25px;
          }

          .main3_right_3 {
            left: 42px;
            top: 162px;
            position: absolute;
            overflow: visible;
            width: 187px;
            white-space: nowrap;
            text-align: center;
            font-family: "NotoSansKR-Regular";
            font-weight: normal;
            font-size: 16px;
            color: #3cc1c6;
            letter-spacing: -0.25px;
          }

          .main3_right_4 {
            left: 13px;
            top: 284px;
            position: absolute;
            overflow: visible;
            width: 245px;
            white-space: nowrap;
            text-align: center;
            font-family: "NotoSansKR-Regular";
            font-weight: normal;
            font-size: 16px;
            color: #3cc1c6;
            letter-spacing: -0.25px;
          }

          .main3_right_5 {
            position: absolute;
            width: 110px;
            height: 38px;
            left: 80px;
            top: 340px;
            overflow: visible;

            .button {
              position: absolute;
              overflow: visible;
              width: 110px;
              height: 38px;
              left: 0px;
              top: 0px;
              transition: 0.3s;
              background-image: url("data:image/svg+xml,%3Csvg id='버튼' xmlns='http://www.w3.org/2000/svg' width='110' height='38' viewBox='0 0 110 38'%3E%3Cg id='사각형_136' data-name='사각형 136' fill='none' stroke='%233cc1c6' stroke-width='1'%3E%3Crect width='110' height='38' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='109' height='37' fill='none'/%3E%3C/g%3E%3Ctext id='문의하기' transform='translate(54.952 26)' fill='%233cc1c6' font-size='16' font-family='MalgunGothicBold, Malgun Gothic' letter-spacing='-0.025em'%3E%3Ctspan x='-31.4' y='0'%3E문의하기%3C/tspan%3E%3C/text%3E%3C/svg%3E%0A");
            }

            &:hover > .button {
              background-image: url("data:image/svg+xml,%3Csvg id='버튼' xmlns='http://www.w3.org/2000/svg' width='110' height='38' viewBox='0 0 110 38'%3E%3Cg id='사각형_136' data-name='사각형 136' fill='%233cc1c6' stroke='%233cc1c6' stroke-width='1'%3E%3Crect width='110' height='38' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='109' height='37' fill='none'/%3E%3C/g%3E%3Ctext id='문의하기' transform='translate(54.952 26)' fill='%23fff' font-size='16' font-family='MalgunGothicBold, Malgun Gothic' letter-spacing='-0.025em'%3E%3Ctspan x='-31.4' y='0'%3E문의하기%3C/tspan%3E%3C/text%3E%3C/svg%3E%0A");
            }
          }

          .main3_right_6 {
            position: absolute;
            width: 110px;
            height: 38px;
            left: 80px;
            top: 218px;
            overflow: visible;

            .button {
              position: absolute;
              overflow: visible;
              width: 110px;
              height: 38px;
              left: 0px;
              top: 0px;
              transition: 0.3s;
              background-image: url("data:image/svg+xml,%3Csvg id='버튼' xmlns='http://www.w3.org/2000/svg' width='110' height='38' viewBox='0 0 110 38'%3E%3Cg id='사각형_136' data-name='사각형 136' fill='none' stroke='%233cc1c6' stroke-width='1'%3E%3Crect width='110' height='38' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='109' height='37' fill='none'/%3E%3C/g%3E%3Ctext id='문의하기' transform='translate(54.952 26)' fill='%233cc1c6' font-size='16' font-family='MalgunGothicBold, Malgun Gothic' letter-spacing='-0.025em'%3E%3Ctspan x='-31.4' y='0'%3E문의하기%3C/tspan%3E%3C/text%3E%3C/svg%3E%0A");
            }

            &:hover > .button {
              background-image: url("data:image/svg+xml,%3Csvg id='버튼' xmlns='http://www.w3.org/2000/svg' width='110' height='38' viewBox='0 0 110 38'%3E%3Cg id='사각형_136' data-name='사각형 136' fill='%233cc1c6' stroke='%233cc1c6' stroke-width='1'%3E%3Crect width='110' height='38' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='109' height='37' fill='none'/%3E%3C/g%3E%3Ctext id='문의하기' transform='translate(54.952 26)' fill='%23fff' font-size='16' font-family='MalgunGothicBold, Malgun Gothic' letter-spacing='-0.025em'%3E%3Ctspan x='-31.4' y='0'%3E문의하기%3C/tspan%3E%3C/text%3E%3C/svg%3E%0A");
            }
          }
        }

        .main3_right_2 {
          position: absolute;
          width: 270px;
          height: 450px;
          left: 290px;
          top: 82.329px;
          overflow: visible;

          .img {
            position: absolute;
            width: 270px;
            height: 450px;
            left: 0px;
            top: 0px;
            overflow: visible;
          }

          .text {
            left: 58px;
            top: 205px;
            position: absolute;
            overflow: visible;
            width: 155px;
            white-space: nowrap;
            text-align: center;
            font-family: "NotoSansKR-Bold";
            font-weight: bold;
            font-size: 30px;
            color: #ffffff;
            transition: 0.3s;
            letter-spacing: -0.25px;
          }

          &:hover > .text {
            top: 97.342px;
            color: #3cc1c6;
          }

          .text2 {
            left: 53px;
            top: 197.546px;
            position: absolute;
            overflow: visible;
            width: 165px;
            white-space: nowrap;
            text-align: center;
            font-family: "NotoSansKR-Bold";
            font-weight: normal;
            font-size: 16px;
            color: #3cc1c6;
            letter-spacing: -0.25px;
            opacity: 0;
            transition: 0.3s;
          }

          &:hover > .text2 {
            opacity: 1;
          }

          .button {
            position: absolute;
            width: 110px;
            height: 38px;
            left: 80px;
            top: 324px;
            overflow: visible;
            transition: 0.3s;
            opacity: 0;
            background-image: url("data:image/svg+xml,%3Csvg id='버튼' xmlns='http://www.w3.org/2000/svg' width='110' height='38' viewBox='0 0 110 38'%3E%3Cg id='사각형_136' data-name='사각형 136' fill='none' stroke='%233cc1c6' stroke-width='1'%3E%3Crect width='110' height='38' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='109' height='37' fill='none'/%3E%3C/g%3E%3Ctext id='바로가기' transform='translate(54.952 26)' fill='%233cc1c6' font-size='16' font-family='MalgunGothicBold, Malgun Gothic' letter-spacing='-0.025em'%3E%3Ctspan x='-31.4' y='0'%3E바로가기%3C/tspan%3E%3C/text%3E%3C/svg%3E%0A");
          }

          &:hover > .button {
            opacity: 1;
          }

          .button:hover {
            background-image: url("data:image/svg+xml,%3Csvg id='버튼' xmlns='http://www.w3.org/2000/svg' width='110' height='38' viewBox='0 0 110 38'%3E%3Cg id='사각형_136' data-name='사각형 136' fill='%233cc1c6' stroke='%233cc1c6' stroke-width='1'%3E%3Crect width='110' height='38' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='109' height='37' fill='none'/%3E%3C/g%3E%3Ctext id='바로가기' transform='translate(54.952 26)' fill='%23fff' font-size='16' font-family='MalgunGothicBold, Malgun Gothic' letter-spacing='-0.025em'%3E%3Ctspan x='-31.4' y='0'%3E바로가기%3C/tspan%3E%3C/text%3E%3C/svg%3E%0A");
          }
        }
      }
    }
  }

  footer {
    position: absolute;
    width: 1480px;
    height: 230px;
    left: 0px;
    top: 2455px;
    overflow: visible;

    .img {
      position: absolute;
      width: 224.901px;
      height: 25px;
      left: 150px;
      top: 25px;
      overflow: visible;
    }

    .footer_bc {
      position: absolute;
      overflow: visible;
      width: 1480px;
      height: 230px;
      left: 0px;
      top: 0px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1480' height='230' viewBox='0 0 1480 230'%3E%3Crect id='배경' width='1480' height='230' fill='%23202020'/%3E%3C/svg%3E%0A");
    }

    .bar {
      overflow: visible;
      position: absolute;
      width: 885px;
      height: 1px;
      left: 445.5px;
      top: 267px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='885' height='1' viewBox='0 0 885 1'%3E%3Cline id='선_10' data-name='선 10' x2='885' transform='translate(0 0.5)' fill='none' stroke='%23707070' stroke-width='1'/%3E%3C/svg%3E%0A");
    }

    .address {
      left: 444px;
      top: 110px;
      position: absolute;
      overflow: visible;
      width: 271px;
      white-space: nowrap;
      text-align: left;
      font-family: "NotoSansKR-Regular";
      font-weight: normal;
      font-size: 14px;
      color: #b8b8b8;
    }

    .tel {
      position: absolute;
      width: 186px;
      height: 25px;
      left: 950px;
      top: 110px;
      overflow: visible;

      .tel_1 {
        left: 0px;
        top: 0px;
        position: absolute;
        overflow: visible;
        width: 73px;
        white-space: nowrap;
        text-align: left;
        font-family: "NotoSansKR-Regular";
        font-weight: normal;
        font-size: 18px;
        color: #666666;
      }

      .tel_2 {
        left: 81px;
        top: 1px;
        position: absolute;
        overflow: visible;
        width: 106px;
        white-space: nowrap;
        text-align: left;
        font-family: "NotoSansKR-Regular";
        font-weight: normal;
        font-size: 18px;
        color: #b8b8b8;
      }
    }

    .fax {
      position: absolute;
      width: 153px;
      height: 25px;
      left: 1171px;
      top: 110px;
      overflow: visible;

      .fax_1 {
        left: 0px;
        top: 0px;
        position: absolute;
        overflow: visible;
        width: 37px;
        white-space: nowrap;
        text-align: left;
        font-family: "NotoSansKR-Regular";
        font-weight: normal;
        font-size: 18px;
        color: #666666;
      }

      .fax_2 {
        left: 48px;
        top: 1px;
        position: absolute;
        overflow: visible;
        width: 106px;
        white-space: nowrap;
        text-align: left;
        font-family: "NotoSansKR-Regular";
        font-weight: normal;
        font-size: 18px;
        color: #b8b8b8;
      }
    }

    .copyright {
      left: 444px;
      top: 170px;
      position: absolute;
      overflow: visible;
      width: 318px;
      white-space: nowrap;
      text-align: left;
      font-family: "NotoSansKR-Bold";
      font-weight: bold;
      font-size: 14px;
      color: #b8b8b8;
    }

    .privacy {
      left: 444px;
      top: 30px;
      position: absolute;
      overflow: visible;
      width: 117px;
      white-space: nowrap;
      text-align: left;
      font-family: "NotoSansKR-Regular";
      font-weight: normal;
      font-size: 14px;
      color: #ffffff;
    }

    .email {
      left: 590px;
      top: 30px;
      position: absolute;
      overflow: visible;
      width: 127px;
      white-space: nowrap;
      text-align: left;
      font-family: "NotoSansKR-Regular";
      font-weight: normal;
      font-size: 14px;
      color: #b1b1b1;
    }

    .select_box {
      position: absolute;
      width: 380px;
      height: 45px;
      left: 950px;
      top: 17px;
      overflow: visible;
      background-image: url("data:image/svg+xml,%3Csvg id='select-black' xmlns='http://www.w3.org/2000/svg' width='380' height='45' viewBox='0 0 380 45'%3E%3Cg id='사각형_121' data-name='사각형 121' fill='%23202020' stroke='%23444' stroke-width='1'%3E%3Crect width='380' height='45' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='379' height='44' fill='none'/%3E%3C/g%3E%3Ctext id='Family_Site' data-name='Family Site' transform='translate(20 30)' fill='%23fff' font-size='16' font-family='SegoeUI-Bold, Segoe UI' font-weight='700'%3E%3Ctspan x='0' y='0'%3EFamily Site%3C/tspan%3E%3C/text%3E%3Cpath id='아이콘-arrow' d='M-1540,0l-5,5Zm-10,0,5,5Z' transform='translate(1900 22)' fill='none' stroke='%23fff' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E%0A");
    }

    .select_box2 {
      position: absolute;
      overflow: visible;
      width: 380px;
      height: 205px;
      left: 950px;
      top: -187px;
      display: none;
      transition: 0.3s;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='380' height='205' viewBox='0 0 380 205'%3E%3Cg id='사각형_346' data-name='사각형 346' fill='%23202020' stroke='%23444' stroke-width='1'%3E%3Crect width='380' height='205' stroke='none'/%3E%3Crect x='0.5' y='0.5' width='379' height='204' fill='none'/%3E%3C/g%3E%3Cg id='option' transform='translate(20 20)'%3E%3Ctext id='텐베거_테크인포_플랫폼' data-name='텐베거 테크인포 플랫폼' transform='translate(0 19)' fill='%23d8d8d8' font-size='16' font-family='MalgunGothic, Malgun Gothic'%3E%3Ctspan x='0' y='0'%3E텐베거%3C/tspan%3E%3Ctspan y='0' font-family='SegoeUI, Segoe UI'%3E%3C/tspan%3E%3Ctspan y='0'%3E테크인포%3C/tspan%3E%3Ctspan y='0' font-family='SegoeUI, Segoe UI'%3E%3C/tspan%3E%3Ctspan y='0'%3E플랫폼%3C/tspan%3E%3C/text%3E%3C/g%3E%3Cg id='option-2' data-name='option' transform='translate(20 54)'%3E%3Ctext id='텐베거_트레이딩_플랫폼' data-name='텐베거 트레이딩 플랫폼' transform='translate(0 19)' fill='%23d8d8d8' font-size='16' font-family='MalgunGothic, Malgun Gothic'%3E%3Ctspan x='0' y='0'%3E텐베거%3C/tspan%3E%3Ctspan y='0' font-family='SegoeUI, Segoe UI'%3E%3C/tspan%3E%3Ctspan y='0'%3E트레이딩%3C/tspan%3E%3Ctspan y='0' font-family='SegoeUI, Segoe UI'%3E%3C/tspan%3E%3Ctspan y='0'%3E플랫폼%3C/tspan%3E%3C/text%3E%3C/g%3E%3Cg id='option-3' data-name='option' transform='translate(20 118)'%3E%3Ctext id='아이피밸류_파트너스' data-name='아이피밸류 파트너스' transform='translate(0 19)' fill='%23d8d8d8' font-size='16' font-family='MalgunGothic, Malgun Gothic'%3E%3Ctspan x='0' y='0'%3E아이피밸류%3C/tspan%3E%3Ctspan y='0' font-family='SegoeUI, Segoe UI'%3E%3C/tspan%3E%3Ctspan y='0'%3E파트너스%3C/tspan%3E%3C/text%3E%3C/g%3E%3Cg id='option-4' data-name='option' transform='translate(20 152)'%3E%3Ctext id='오픈아이피' transform='translate(0 19)' fill='%23d8d8d8' font-size='16' font-family='MalgunGothic, Malgun Gothic'%3E%3Ctspan x='0' y='0'%3E오픈아이피%3C/tspan%3E%3C/text%3E%3C/g%3E%3Cline id='중간_선' data-name='중간 선' x2='340' transform='translate(20.5 98)' fill='none' stroke='%23707070' stroke-width='1'/%3E%3C/svg%3E%0A");
    }

    .select_box:hover + .select_box2 {
      display: block;
    }
  }
}
