@font-face {
  src: url("/font/NotoSansKR-Bold.woff");
  font-family: "NotoSansKR-Bold";
}

@font-face {
  src: url("/font/NotoSansKR-Regular.woff");
  font-family: "NotoSansKR-Regular";
}

@font-face {
  src: url("/font/Montserrat-Bold.woff");
  font-family: "Montserrat-Bold";
}

@font-face {
  src: url("/font/Pretendard-Regular.woff");
  font-family: "Pretendard-Regular";
}

html, body, div, span, h1, h2, h3{
  margin: 0;
  padding: 0;
  border: 0;
}

ul{
	list-style: none;
}

.wrap{width: 100%;}

header{
  width: 100%;
  height: 100px;
  position: fixed;
  .inner{
    justify-content: space-between;
    .left, .right{
      display: flex;
      align-items: center;
      height: 100%;
    }
    .left{
      .logo{
        @include bgSvg(logo($s_black), no-repeat, 50% 0, 28px auto);
      }
    }
    
  }
}

